<div id="wrapperDiv">
    <div id="div1">div1</div><!--
    --><div id="div2">테스트 글자 입니다.테스트 글자 입니다.테스트 글자 입니다.테스트 글자 입니다.테스트 글자 입니다.테스트 글자 입니다.테스트 글자 입니다.테스트 글자 입니다.</div>
</div>

<div id="bgi">
    
        <div class ="container ">
    
    <div class="margin">
    
    <h1 style="text-align:center " class="titlem font-h1 white-text center-align " style="padding-top:5px" >MY MARKET </h1><br>
   <bold> <h4 style="text-align:center " class="titlem font-h5 red-text center-align " style="padding-top:5px" >CLICK! </h4></bold><br>


</div>
</div>

    
    
     
     <center>
      <a href="/list">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/3f/89/04/3f890410a775b115633d536ae9821723.png" width="300" height="300" align="center"/>
      </a>
      </center>
    

</div>

    


