/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
#wrapperDiv {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #C8BEB7;
}
#div1 {
    display: inline-block;
    width: 200px;
    height: 100%;
    background-color: #747474;
}
#div2 {
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 200px; right: 200px;
    font-size: 12pt;
    word-spacing: 1pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: goldenrod;
}
 
 .margin {
  padding-top : 250px;
 }
 
@font-face {
  font-family: 'Youth';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kywa/Youth/Youth.woff') format('woff');
}

.font {
 font-family: 'Youth', sans-serif;
}


@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}

@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
}

.font-lotte {
 font-family: 'LotteMartHappy', sans-serif;
}


/** 이하는 공통 **/
.normal {
 font-style: normal;
}

.w250 {
 font-weight: 250;
}

.w300 {
 font-weight: 300;
}

.w350 {
 font-weight: 350;
}

.w400 {
 font-weight: 400;
}

.w500 {
 font-weight: 500;
}

.w700 {
 font-weight: 700;
}

.w800 {
 font-weight: 800;
}

.w900 {
 font-weight: 900;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}



.font-h1 {
	font-family: Luckiest Guy;
	font-size: 140px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.font-h3 {
	font-family: Architects Daughter;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
.font-p {
	font-family: Lemon;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
.font-h4 {
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
.font-h5 {
	font-family: Nanum Pen Script;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
.font-h6 {
	font-family: Nanum Pen Script;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}




.marg {
 text-align:center;
 margin-top: 0px;
 padding-top: 31px;
}

.bgc{
 background-color : #eceff1;
 width:100%;
 height:100%;
}

.card {
 
 /*height : 300px;*/
 width : 270 ;
}




.fade {
  opacity: 1;
}